body {
    background-color: lightskyblue;
 }
  
 .parent_container{
    text-align: center;
 }
  
 h1 {
    color: black;
    font-weight: bold;
    font-size: 38px;
 }
  
 h2 {
    color: red;
    background-color:yellow;
    font-size: 26px;
   
 }
  
.Computer  {
    display: inline-block;
    text-align: center;
 }
 
 button {
    color: white;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 18px;
 }
  
 h5 {
    color: brown;
    font-size: 20px;
    font-weight: bold;
 }
  
  
 #Winner {
    color: darkviolet;
    font-weight: bold;
    font-size: 18px;
 }
  
 #ans1, #ans2 {
    font-size: 30px;
 }
  
 h3 {
    color: black;
    font-size: 26px;
 }

 #Final {
    color: red;
    font-size: 20px;
    font-weight: bold;
 }

 #E {
     color: green;
     font-size: 20px;
     font-style: italic;
     font-weight: bold;
 }

 #player {
     float: right;
 }
  
  
  
  
 